:root {
    --mocha-rosewater: #f5e0dc;
    --mocha-rosewater-rgb: rgb(245, 224, 220);
    --mocha-rosewater-hsl: hsl(10, 56%, 91%);
    --mocha-rosewater-raw: 245, 224, 220;
    --mocha-flamingo: #f2cdcd;
    --mocha-flamingo-rgb: rgb(242, 205, 205);
    --mocha-flamingo-hsl: hsl(0, 59%, 88%);
    --mocha-flamingo-raw: 242, 205, 205;
    --mocha-pink: #f5c2e7;
    --mocha-pink-rgb: rgb(245, 194, 231);
    --mocha-pink-hsl: hsl(316, 72%, 86%);
    --mocha-pink-raw: 245, 194, 231;
    --mocha-mauve: #cba6f7;
    --mocha-mauve-rgb: rgb(203, 166, 247);
    --mocha-mauve-hsl: hsl(267, 84%, 81%);
    --mocha-mauve-raw: 203, 166, 247;
    --mocha-red: #f38ba8;
    --mocha-red-rgb: rgb(243, 139, 168);
    --mocha-red-hsl: hsl(343, 81%, 75%);
    --mocha-red-raw: 243, 139, 168;
    --mocha-maroon: #eba0ac;
    --mocha-maroon-rgb: rgb(235, 160, 172);
    --mocha-maroon-hsl: hsl(350, 65%, 77%);
    --mocha-maroon-raw: 235, 160, 172;
    --mocha-peach: #fab387;
    --mocha-peach-rgb: rgb(250, 179, 135);
    --mocha-peach-hsl: hsl(23, 92%, 75%);
    --mocha-peach-raw: 250, 179, 135;
    --mocha-yellow: #f9e2af;
    --mocha-yellow-rgb: rgb(249, 226, 175);
    --mocha-yellow-hsl: hsl(41, 86%, 83%);
    --mocha-yellow-raw: 249, 226, 175;
    --mocha-green: #a6e3a1;
    --mocha-green-rgb: rgb(166, 227, 161);
    --mocha-green-hsl: hsl(115, 54%, 76%);
    --mocha-green-raw: 166, 227, 161;
    --mocha-teal: #94e2d5;
    --mocha-teal-rgb: rgb(148, 226, 213);
    --mocha-teal-hsl: hsl(170, 57%, 73%);
    --mocha-teal-raw: 148, 226, 213;
    --mocha-sky: #89dceb;
    --mocha-sky-rgb: rgb(137, 220, 235);
    --mocha-sky-hsl: hsl(189, 71%, 73%);
    --mocha-sky-raw: 137, 220, 235;
    --mocha-sapphire: #74c7ec;
    --mocha-sapphire-rgb: rgb(116, 199, 236);
    --mocha-sapphire-hsl: hsl(199, 76%, 69%);
    --mocha-sapphire-raw: 116, 199, 236;
    --mocha-blue: #89b4fa;
    --mocha-blue-rgb: rgb(137, 180, 250);
    --mocha-blue-hsl: hsl(217, 92%, 76%);
    --mocha-blue-raw: 137, 180, 250;
    --mocha-lavender: #b4befe;
    --mocha-lavender-rgb: rgb(180, 190, 254);
    --mocha-lavender-hsl: hsl(232, 97%, 85%);
    --mocha-lavender-raw: 180, 190, 254;
    --mocha-text: #cdd6f4;
    --mocha-text-rgb: rgb(205, 214, 244);
    --mocha-text-hsl: hsl(226, 64%, 88%);
    --mocha-text-raw: 205, 214, 244;
    --mocha-subtext1: #bac2de;
    --mocha-subtext1-rgb: rgb(186, 194, 222);
    --mocha-subtext1-hsl: hsl(227, 35%, 80%);
    --mocha-subtext1-raw: 186, 194, 222;
    --mocha-subtext0: #a6adc8;
    --mocha-subtext0-rgb: rgb(166, 173, 200);
    --mocha-subtext0-hsl: hsl(228, 24%, 72%);
    --mocha-subtext0-raw: 166, 173, 200;
    --mocha-overlay2: #9399b2;
    --mocha-overlay2-rgb: rgb(147, 153, 178);
    --mocha-overlay2-hsl: hsl(228, 17%, 64%);
    --mocha-overlay2-raw: 147, 153, 178;
    --mocha-overlay1: #7f849c;
    --mocha-overlay1-rgb: rgb(127, 132, 156);
    --mocha-overlay1-hsl: hsl(230, 13%, 55%);
    --mocha-overlay1-raw: 127, 132, 156;
    --mocha-overlay0: #6c7086;
    --mocha-overlay0-rgb: rgb(108, 112, 134);
    --mocha-overlay0-hsl: hsl(231, 11%, 47%);
    --mocha-overlay0-raw: 108, 112, 134;
    --mocha-surface2: #585b70;
    --mocha-surface2-rgb: rgb(88, 91, 112);
    --mocha-surface2-hsl: hsl(233, 12%, 39%);
    --mocha-surface2-raw: 88, 91, 112;
    --mocha-surface1: #45475a;
    --mocha-surface1-rgb: rgb(69, 71, 90);
    --mocha-surface1-hsl: hsl(234, 13%, 31%);
    --mocha-surface1-raw: 69, 71, 90;
    --mocha-surface0: #313244;
    --mocha-surface0-rgb: rgb(49, 50, 68);
    --mocha-surface0-hsl: hsl(237, 16%, 23%);
    --mocha-surface0-raw: 49, 50, 68;
    --mocha-surface: hsl(237, 19%, 18%);
    --mocha-base1: hsl(240, 21%, 16%);
    --mocha-base: #1e1e2e;
    --mocha-base-rgb: rgb(30, 30, 46);
    --mocha-base-hsl: hsl(240, 21%, 15%);
    --mocha-base-raw: 30, 30, 46;
    --mocha-mantle: #181825;
    --mocha-mantle-rgb: rgb(24, 24, 37);
    --mocha-mantle-hsl: hsl(240, 21%, 12%);
    --mocha-mantle-raw: 24, 24, 37;
    --mocha-crust: #11111b;
    --mocha-crust-rgb: rgb(17, 17, 27);
    --mocha-crust-hsl: hsl(240, 23%, 9%);
    --mocha-crust-raw: 17, 17, 27;
}