@import url("catppuccin.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--mocha-text);
    background-color: var(--mocha-mantle);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 2rem;
    padding-top: 2rem;
    background-color: var(--mocha-base);
    overflow-x: hidden;
}

.side-right,
.side-left {
    display: flex;
    flex-direction: column;
    background-color: var(--mocha-base1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.side-left {
    background-color: var(--mocha-surface);
    gap: 1rem;
    justify-content: space-between;
    animation: slideInFromLeft 1s ease-in-out 0s 1 normal forwards;
}

.side-right {
    gap: 2rem;
    animation: slideInFromRight 1s ease-in-out 0s 1 normal forwards;
}

.photo {
    width: 50%;
    align-self: center;
}

.header {
    font-size: 1rem;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;

    animation: slideInFromTop 1s ease-in-out 0s 1 normal forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.personal-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    display: flex;
    justify-content: space-between;
}

.field p:first-of-type {
    margin-right: 0.5rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.skill .level {
    font-size: 0.82rem;
    margin-top: 8px;
    color: var(--mocha-subtext0);
    text-align: right;
}

.progress-base {
    width: 100%;
    height: 5px;
    border-radius: 0.5rem;
    background-color: var(--mocha-surface1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.progress {
    height: 5px;
    border-radius: 0.5rem;
    background-color: var(--mocha-sky);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--mocha-surface1);

}

.about-me {
    line-height: 1.5rem;
    position: relative;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    /* accent hack */
    background:
        linear-gradient(var(--mocha-peach), var(--mocha-peach)) 0px 0px/4px no-repeat,
        var(--mocha-surface);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.card-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    line-height: 1.5rem;
    flex: 1 0 300px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--mocha-surface);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-bottom: 0.5rem;
}